@import url("./normalize.scss");

/* variable */
:root {
  --primary-color: #26b9c3;
  --primary-text-color: #262626;
  --secondary-text-color:#545e66;
  --border-color: #ededed;
  --white: #ffffff;
  --primary-bg-color: var(--white);
}

/* General */
body {
 font-family: 'Onest', system-ui, sans-serif;
 margin: 0;
 padding: 0;
 font-size: 16px;
 background-color: var(--primary-bg-color);
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  max-width: 100%;
  display: inline-block;
}

/* font face */
@font-face {
  font-family: 'Onest';
  font-style: normal;
  font-weight: 400;
  src:
    url('../fonts/Onest-Regular.woff2') format('woff2'),
    url('../fonts/Onest-Regular.woff') format('woff');
  font-display: swap;
}
@font-face {
  font-family: 'Onest';
  font-style: normal;
  font-weight: 500;
  src:
    url('../fonts/Onest-Medium.woff2') format('woff2'),
    url('../fonts/Onest-Medium.woff') format('woff');
  font-display: swap;
}
@font-face {
  font-family: 'Onest';
  font-style: normal;
  font-weight: 600;
  src:
    url('../fonts/Onest-SemiBold.woff2') format('woff2'),
    url('../fonts/Onest-SemiBold.woff') format('woff');
  font-display: swap;
}

// button
.btn {
  display: block;
  color: var(--primary-text-color);
  text-align: center;
  letter-spacing: .5px;
  background-color: #0000;
  background-image: linear-gradient(135deg, #9aecd8, #24b8c7 50%, #24c7a1);
  border-radius: .63rem;
  padding: 1rem 1.13rem;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1;
  text-decoration: none;
  transition: background-position .2s;
  cursor: pointer;
  border: solid var(--primary-text-color);
  width: 100%;

  &--outline{
    background: var(--white);
    border-color: var(--border-color);
  }

  &-group {
    display: flex;
    gap: .5rem;
    flex-direction: column;
  }
}

// breadcrumb
.breadcrumb{
  color: var(--secondary-text-color);
  font-size: .85rem;
  font-weight: 400;
  margin-top: 2rem;
  padding: 1rem 0;
  border-radius: 8px;
  text-align: center;
  text-transform: uppercase;

  a {
    font-weight: 600;
    color: var(--primary-text-color);
  }
}

/* fade transition */
.fade-enter-active,
.fade-leave-active {
  transition: all 0.3s;
}
.fade-enter-from,
.fade-leave-to {
  opacity: 0;
  filter: blur(1rem);
}
