/* variable */
:root {
  --primary-color: #88E64A;
  --body-color: #262626;
}

/* General */
* {
 font-family: 'Onest', system-ui, sans-serif;
}

a {
  text-decoration: none;
}

/* font face */
@font-face {
  font-family: 'Onest';
  font-style: normal;
  font-weight: 400;
  src:
    url('../fonts/Onest-Regular.woff2') format('woff2'),
    url('../fonts/Onest-Regular.woff') format('woff');
  font-display: swap;
}
@font-face {
  font-family: 'Onest';
  font-style: normal;
  font-weight: 500;
  src:
    url('../fonts/Onest-Medium.woff2') format('woff2'),
    url('../fonts/Onest-Medium.woff') format('woff');
  font-display: swap;
}
@font-face {
  font-family: 'Onest';
  font-style: normal;
  font-weight: 600;
  src:
    url('../fonts/Onest-SemiBold.woff2') format('woff2'),
    url('../fonts/Onest-SemiBold.woff') format('woff');
  font-display: swap;
}

/* fade transition */
.fade-enter-active,
.fade-leave-active {
  transition: all 0.3s;
}
.fade-enter-from,
.fade-leave-to {
  opacity: 0;
  filter: blur(.25rem);
}
